svg.logo-login {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    user-select: none;
    transform: translateY(-50%);
    height: 2.5rem;
}

div.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: var(--grey-3);
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    min-width: 130%;
    min-height: 200%;
    transform: translate(-50%, -40%);
    padding: 1rem;
}

.login-card .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-header .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-header .register_link a{
    color: var(--blue-4);
}

.login-card .errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.errors .error {
    color: var(--red-1);
}

.login-card form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    background-color: unset;
    border: none;
}
form input:focus {
    outline: none;
}

form input[type=submit] {
    margin: 1rem 0 0 0;
    padding: .5rem 2rem;
    background-color: var(--blue-4);
    border-radius: 12px;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out ;
}
form input[type=submit]:hover {
    background-color: var(--white);
    color: var(--blue-4);
}

form .txt_field {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0.5rem 0;
}
.txt_field i {
    position: absolute;
    left: 0.6rem;
}
.txt_field input {
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    color: var(--white);
    border-radius: 12px;
    border: solid 2px var(--grey-4);
}
.txt_field input:focus {
    border-color: var(--blue-4);
}
.txt_field input:valid {
    border-color: var(--green-1);
}

form .row_field {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.row_field .txt_field:first-child {
    margin: 0 1rem 0 0;
}
