.sidenav {
    width: 4.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-2);
    transition: width 0.3s;
}
.sidenav i {
    height: 50px;
    min-width: 30px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
}

.sidenav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    padding: 0 0.8rem;
}
.sidenav .logo .details {
    display: none;
}
.sidenav .logo .details svg {
    height: 25px;
    user-select: none;
}
.sidenav .logo .details .logo_name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 1px;
}
.sidenav .logo .details .logo_name .blue {
    color: var(--blue-4);
}
.sidenav .logo i:hover {
    cursor: pointer;
}

.sidenav .nav_list {
    height: 100%;
    margin: 0;
    padding: 0;
}
.sidenav li {
    position: relative;
    margin: 1rem 0;
    list-style: none;
    padding: 0 0.8rem;
}
.sidenav .nav_list li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0 0.5rem;
}
.sidenav .nav_list li a:hover,
.sidenav .nav_list li a.active {
    background-color: var(--white);
    color: var(--blue-4);
}

.sidenav li i,
.sidenav .profile i {
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    border-radius: 12px;
}

.sidenav .profile {
    position: relative;
    padding: 0 0.8rem;
}
.sidenav .profile a,
.sidenav .profile .logged{
    width: 100%;
    display: flex;
    border-radius: 12px;
    align-items: center;
    margin: 1rem 0;
    transition: all 0.3s ease;
    padding: 0 0.5rem;
}

.sidenav .profile .logged {
    background-color: var(--grey-3);
}

.sidenav .profile .logged a,
.sidenav.open .profile .logged a {
    margin: 0;
    background-color: unset;
    padding: 0;
    width: auto;
    display: block;
}

.sidenav.open .profile .logged a i {
    margin: 0;
}

.sidenav .profile .logged i {
    cursor: pointer;
}
.sidenav .profile a {
    background-color: var(--blue-4);
}

.sidenav .profile a .link,
.sidenav .profile .details,
.sidenav .nav_list .link {
    display: none;
}

.sidenav.open {
    width: 15rem;
}

.sidenav.open .profile .details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidenav.open .logo .details {
    display: flex;
    align-items: center;
}
.sidenav.open .nav_list .link {
    display: inline-block;
    white-space: nowrap;
}

.sidenav.open .logo {
    justify-content: space-between;
}
.sidenav.open li i {
    margin: 0 0.8rem 0 0;
}

.sidenav.open .profile {
    display: flex;
    margin: 0;
    padding: 0;
}
.sidenav.open .profile .logged {
    border-radius: 0;
    padding: 0.8rem 0.8rem;
    margin: 0;
    justify-content: space-between;
    background-color: var(--grey-3);
}
.sidenav.open .profile i {
    cursor: pointer;
}
.sidenav.open .profile .details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidenav .profile .details .name {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sidenav.open .profile a {
    align-items: center;
    width: 100%;
    margin: 1rem 0.8rem;
    justify-content: center;
    background-color: var(--blue-4);
    border-radius: 12px;
}
.sidenav.open .profile a i {
    margin: 0 0.8rem 0 0;
}
.sidenav.open .profile a .link {
    display: inline-block;
}

@media screen and (max-width: 780px) {
    .sidenav {
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--grey-2);
        transition: height 0.3s;
    }

    .sidenav .logo {
        justify-content: space-between;
    }

    .sidenav .nav_list,
    .sidenav .profile {
        display: none;
    }

    .sidenav.open .profile{
        display: flex;
    }

    .sidenav .logo .details {
        display: flex;
    }

    .sidenav.open .nav_list {
        display: block;
    }

    .sidenav.open {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
    }
}